nav {
    margin: 50px 0;
    .logo_title {
        float: left;
        text-transform: capitalize;
        font-size: 30px;
        line-height: 30px;
    }
    ul {
        float: right;
        li {
            display: inline-block;
            a {
                margin: 0 0 0 30px;
                text-decoration: none;
                color: black;
                text-transform: uppercase;
                font-size: 15px;
                line-height: 30px;
                font-weight: bold;
                &:hover {
                    color: purple;
                }
            }
        }
    }
}
@media #{$mobile} {
    .hide {
        display: none;
    }
}
@media #{$tablet} {
    .hide {
        display: none;
    }
}
