.our-portfolio {
    h2 {
        text-align: center;
        margin: 80px auto;
        width: 200px;
        height: 60px;
        line-height: 60px;
        position: relative;
    }
    .portfolio-filter {
        margin: 0 auto 40px auto;
        text-align: center;
        display: inline-block;
        border: 2px solid #000000;
        width: 100%;
        color: #000000;
        font-size: 20px;
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px;
        cursor: pointer;
        @include tablet {
            font-size: 14px;
            width: 50%;
            display: block;
        }
        @include mobile {
            font-size: 12px;
            width: 40%;
            display: block;
        }
        &:hover {
            border: 2px solid #800080;
            color: #800080;
            font-weight: bold;
        }
    }
    .portolio-gallery-labels-big {
        font-size: 18px;
        font-weight: bold;
        text-transform: capitalize;
        text-align: center;
        margin-top: 10px;
    }
    .portolio-gallery-labels-small {
        font-size: 16px;
        text-align: center;
        margin-bottom: 30px;
    }
    img {
        width: 100%;
        opacity: 0.6;
        &:hover {
            opacity: 1;
        }
    }
    .button {
        margin: 50px auto 100px auto;
        text-align: center;
        @include tablet {
            margin-bottom: 50px;
        }
        @include mobile {
            margin-bottom: 50px;
        }
    }
    .gallery-pic-hide {
        display: none;
    }
    .portfolio-filter-click {
        background: #800080;
        border: 2px solid #800080;
        color: #ffffff;
        font-weight: bold;
        &:hover {
            color: #ffffff;
        }
    }
}
